{% extends 'base.html' %}

{% block content %}
  <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="../../../static/img/learning-brand.png" style="width: 200px;" class="img-fluid">
                <p class="lead text-white">Um site com os melhores conteúdos das disciplinas do curso de Sistemas de Informação</p>
                <div class="btn-wrapper mt-5">
                  <a href="{% url 'login' %}">
                    <span class="btn-inner--icon neutral"><i class="ni ni-cloud-download-95"></i></span>
                    <span class="btn-inner--text">Entrar</span>
                  </a>
                  <a href="{% url 'student_signup' %}" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                    <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                    <span class="btn-inner--text">
                      <span class="text-warning">Cadastre-se grátis</span> já</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
